@import './styles/tailwind.css';

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Rubik';
  font-size: 12px;
  line-height: 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(56, 67, 71);

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: #e5e7eb;
}

@media print {
  @page {
    margin: 0; /* Removes default print margins */
  }

  body {
    margin: 0;
    padding: 0;
  }
}
